body {
  display: flex;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "Norse Bold";
  src: url("assets/NorseBold.otf");
}

.sidebar {
  position: relative;
  background-image: url("assets/background.jpeg");
  background-position: center;
  background-size: cover;
  width: clamp(400px, 40vw, 1000px)
}

.logo {
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 120px;
  width: 100%;
  position: absolute;
  top: 20%;
  font-family: "Norse Bold", sans-serif;
  font-size: 4rem;
  color: white;
}

.logo > img {
  height: 100%;
}

footer {
  font-size: 16px;
  position: absolute;
  bottom: 12px;
  color: white;
  width: 100%;
  text-align: center;
}

footer > a {
  text-decoration: none;
  color: rgb(123, 238, 133)
}

footer > a:hover {
  text-decoration: underline;
}

